* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
.recipe-list .recipe {
    text-align: center;
    font-size: large;
    
}

.title,
h2 {
    background-color: black;
    color: whitesmoke;
    
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul,
ol {
    list-style-type: none
}